<h2>Mes appareils</h2>
<p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM y' | uppercase }}</p>
<ul class="list-group">
  <!-- Cette commande rend dispo l'index de l'objet appareil dans l'array appareils -->
  <app-appareil *ngFor="let appareil of appareils; let i = index"
                [appareilName]="appareil.name"
                [appareilStatus]="appareil.status"
                [index]="i"
                [id]="appareil.id"></app-appareil>
  <!-- variable index dispo à l'intérieur du component correspondant à l'index de l'appareil dans l'array de AppareilService -->
</ul>
<button class="btn btn-success"
        [disabled]="!isAuth"
        (click)="onAllumer()">Tout allumer</button>
<button class="btn btn-danger"
        [disabled]="!isAuth"
        (click)="onEteindre()">Tout éteindre</button>
